body {
    background-color: antiquewhite;
    font-family: sans-serif;
}

h2 {
    margin: 10px 0;
}

.curtain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(199, 187, 172);
    z-index: 3;
}

.curtain>h2 {
    font-family: monospace;
    font-size: 35px;
}

.main-game {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[class|="hud"] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hud-before {
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
}

#iniciar-jogo-btn {
    font-size: 20px;
    background-color: #333;
    color: #fff;
    padding: 7px 18px;
    border-radius: 5px;
    border: 0px solid #333;
}

#jogo-info {
    font-size: 20px;
}

.board {
    position: relative;
    margin: 20px;
}

[class$="central-circle"] {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.central-circle {
    z-index: 1;
    background: #222;
    width: min(30vw, 30vh, 200px);
    height: min(30vw, 30vh, 200px);
}

.inner-central-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: #fff;
    width: min(22vw, 22vh, 150px);
    height: min(22vw, 22vh, 150px);
    color: #222;
    font-size: 70px;
    font-weight: bold;
}

.genius {
    display: grid;
    grid-template-areas: "green red""yellow blue";
    border: 25px solid #222;
    background-color: #222;
    border-radius: 49%;
    grid-gap: 20px;
    height: min(80vw, 80vh, 600px);
    width: min(80vw, 80vh, 600px);
}

.genius>div {
    height: 100%;
    width: 100%;
    position: relative;
}

.genius>.green-btn {
    background-image: linear-gradient(to top left, #00ad00, #5dff5d);
    border-top-left-radius: 100%;
}

.genius>.red-btn {
    background-image: linear-gradient(to top right, #fb2323, #ff5a5a);
    border-top-right-radius: 100%;
}

.genius>.yellow-btn {
    background-image: linear-gradient(to bottom left, #ffff00, #ffff72);
    border-bottom-left-radius: 100%;
}

.genius>.blue-btn {
    background-image: linear-gradient(to bottom right, #1f66ff, #4a83ff);
    border-bottom-right-radius: 100%;
}

.white-backcolor {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0px 0px min(10vw, 10vh) #000 inset;
    border-radius: inherit;
    opacity: 0%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.opacity-change {
    opacity: 100%;
}

.hud-after {
    justify-content: flex-start;
    align-items: center;
}

.hud-after>h2 {
    font-size: 30px;
}

.hud-after>p {
    font-size: 100px;
}

@media only screen and (min-width: 600px) {

    .main-game {
        flex-direction: row;
    }

}