body {
    background-color: antiquewhite;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class|="hud"] {
    width: 100vw;
}

#iniciar-jogo-btn {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.genius {
    display: grid;
    grid-template-areas: "green red""yellow blue";
    border: 25px solid #222;
    background-color: #222;
    border-radius: 49%;
    grid-gap: 20px;
    height: min(80vw, 80vh, 600px);
    width: min(80vw, 80vh, 600px);
}

.genius>div {
    height: 100%;
    width: 100%;
    position: relative;
}

.genius>.green-btn {
    background-image: linear-gradient(to top left, #00ad00, #5dff5d) ;
    border-top-left-radius: 100%;
}

.genius>.red-btn {
    background-image: linear-gradient(to top right, #fb2323, #ff5a5a) ;
    border-top-right-radius: 100%;
}

.genius>.yellow-btn {
    background-image: linear-gradient(to bottom left, #ffff00, #ffff72) ;
    border-bottom-left-radius: 100%;
}

.genius>.blue-btn {
    background-image: linear-gradient(to bottom right, #1f66ff, #4a83ff) ;
    background-color: #1f66ff;
    border-bottom-right-radius: 100%;
}

.white-backcolor {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0px 0px 50px #000 inset;
    border-radius: inherit;
    opacity: 0%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.opacity-change {
    opacity: 100%;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: rgb(236, 100, 100);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}